// -------------------------------------
// 色
// -------------------------------------

$color-primary: tomato;
$color-text: #000;

// -------------------------------------
// フォント
// -------------------------------------

$font-family: sans-serif;
$base-font-size-px: 14;
$base-font-size: #{$base-font-size-px}px;
$base-line-height: 1.6;
